[class*="Wrapper"]{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style: none;
    grid-auto-rows: minmax(70px, auto);   
}

:root {
    --lightgrey: #F7F7F7;
    --darkblue: #00151C;
    --blue: #002C4C;
    --midblue: #17A6D6;
    --lighblue: #17A6D6;
}

body {
    font-size: 1rem;
    min-height: 100vh;
    align-items: center; 
    background: linear-gradient(to bottom,var(--blue) 0%,var(--lighblue) 100%);  
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility; 
    display: inline-grid;
}

nav{
    background-color: #2E2727;
    height: 70px;
    position: fixed;  
    z-index: 5; 
    width: 100%;   
}

.navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-auto-rows: minmax(70px, auto);
    margin-top: 0px;               
}

.navigation > li {
    display: grid;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 8px;
}

.nav-link{
    text-decoration: none;
    color: var(--darkblue);
    color: white;
}

.pageWrapper{
    display: block;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-columns: minmax(100vh, auto);
    width: 100%;
}

.createBlogWrapper{
    display: grid;
}

.background-header-image{
    width: 100vw;
    height: 100vh;
    background-color: var(--darkblue);
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    display: block;
}

.createBlog{
    color: white;
    margin: 0.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    word-spacing: -5px;;
    line-height: 0.9;
}

createBlogWrapper.br{
    display: none;
}

textarea.textArea{
    visibility: hidden;
}

textarea.textArea.is-visible{
    visibility: visible;
}

.savePost{
    width: 155px;
    padding: 10px;
    height: 34px;
    margin: 19px;
    position: relative;
    display: grid;
    background-color: aliceblue;
}

@media only screen and (min-width: 768px) {    
    :root {
        --lightgrey: #F7F7F7;
        --darkblue: #00151C;
        --blue: #002C4C;
        --midblue: #17A6D6;
        --lighblue: #17A6D6;
    }

    nav{
        background-color: #2E2727;
        height: 70px;
        position: fixed;  
        z-index: 5; 
        width: 100%;   
    }
    
    .navigation{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        grid-auto-rows: minmax(70px, auto);
        margin-top: 0px;               
    }
    
    .navigation > li {
        display: grid;
        align-self: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        font-size: 1.5rem;
        text-decoration: none;
        margin-left: 8px;
    }
    
    .nav-link{
        text-decoration: none;
        color: var(--darkblue);
        color: white;
    }

    .pageWrapper{
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        grid-template-columns: minmax(100vh, auto);
        width: 100%;
    }

    .createBlogWrapper{
        display: grid;
    }

    .background-header-image{
        width: 100vw;
        height: 100vh;
        background-color: var(--darkblue);
    }

    body {
        font-size: 1rem;
        min-height: 100vh;
        align-items: center; 
        background: linear-gradient(to bottom,var(--blue) 0%,var(--lighblue) 100%);  
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizelegibility;  
    }

    .createBlog{
        color: white;
        margin: 0.5%;
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        word-spacing: -5px;;
        line-height: 0.9;
    }

    textarea.textArea{
        visibility: hidden;
    }

    textarea.textArea.is-visible{
        visibility: visible;
    }

    .savePost{
        width: 155px;
        padding: 10px;
        height: 34px;
        margin: 19px;
        position: relative;
        display: grid;
        background-color: aliceblue;
    }

}