.html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

:root {
    --lightgrey: #F7F7F7;
    --darkblue: #00151C;
    --blue: #002C4C;
    --midblue: #17A6D6;
    --lighblue: #17A6D6;
}

.body{
    background: linear-gradient(to bottom,var(--blue) 0%,var(--lighblue) 100%);
    position: relative;
    margin: 0px;
}

nav{
    background-color: #2E2727;
    height: 70px;
    position: fixed;  
    z-index: 5; 
    width: 100%;   
}

.navigation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    grid-auto-rows: minmax(70px, auto);
    margin-top: 0px;               
}

.navigation > li {
    display: grid;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 8px;
}

.nav-link{
    text-decoration: none;
    color: var(--darkblue);
    color: white;
}

.header h1 {
    color: white;
    bottom: 10%;
    left: 10px;
    position: absolute;
    z-index: 1;
    font-size: 2.9em;
}

.parallax-image-window {
    overflow: hidden;
}

.blog-content{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align:left;
    padding:50px 80px;
    background-color:#504b43;
    color: white;
    line-height: 190%;
}

.blog-content .h2 {
    line-height: 230%;
    text-emphasis: 
}

 .pimg1, .pimg2 {
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.pimg1{
    background-image:url('/image/myanmar.jpg');
    min-height:100vh;
}

.pimg2{
    background-image:url('/image/myanmar.jpg');
    min-height:400px;
}

.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:34px;
    letter-spacing:8px;
    text-transform:uppercase;
    z-index: 10;
}

.ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
}

.ptext .border.trans{
    background-color:transparent;
}

.li{
    display: none;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
    }
}
  
