:root {
    --lightgrey: #F7F7F7;
    --darkblue: #00151C;
    --blue: #002C4C;
    --midblue: #17A6D6;
    --lighblue: #17A6D6;
}

    nav{
        background-color: #2E2727;
        height: 70px;
     
    }
    .navigation{
        /* background-color: white; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        grid-auto-rows: minmax(70px, auto);             
    }

    .navigation > li {
        display: grid;
        align-self: center;
        /* justify-self: center; */
       
        font-family: 'Montserrat', sans-serif;
    
        font-weight: 1000;
        font-size: 1.5rem;
        text-decoration: none;
        margin-left: 8px;
        /* justify-content: left 70px; */
        
    }

    .nav-link{
        text-decoration: none;
        color: var(--darkblue);
        color: white;
    }

    .box{
        width: 80px;
        height: 80px;
        background-color: aqua;
        transition: width 0.3s, height 0.3s;
        /* transition-property: width;
        transition-duration: 2s;
        transition-property: height;
        transition-duration: 2s; */
        transition-timing-function: linear;
    }

    .box:hover{
        width: 300px;
        height: 300px;
    }

     .box2{
        width: 80px;
        height: 80px;
        background-color:white;
       
    }

/* here make it fill a few more grib columns .. change the space it occupies  */
    .boxChange {
        background-color: black; 
        margin: 4%;
        padding: 10%;
        width: 90%;
        height: 600px;
        color: white;
    /* margin: 25%; */
    }

    .blogPostsArea{
        width: 100vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 1000;
        font-size: 2rem;
        text-decoration: none;
        margin-left: 8px;
        
        color: white;
    }

    .postsWrapper{
        height: 100vh;
    }

body {
    font-size: 1rem;
    min-height: 100vh;
    align-items: center; 
    background: linear-gradient(to bottom,var(--blue) 0%,var(--lighblue) 100%);  
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;  
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    display: block;
}


#page-container {
    opacity: 1;
    height: 100%;
    position: relative;
    right: 0;
    transition: all .7s,right .5s;
    -webkit-transition: all .7s,right .5s;
    -moz-transition: .7s all,.5s right;
    -o-transition: .7s all,.5s right;
}

container :after, :before {
    box-sizing: border-box;
    outline: 0;
}

container {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
}

container ::before {
    box-sizing: border-box;
    outline: 0;
    display: table;
    content: " ";
    box-sizing: border-box;
    outline: 0;
}

container ::after {
    box-sizing: border-box;
    outline: 0;
    display: table;
    content: " ";
}


.blogTitle{
    color: white;
    margin: 2%;
    font-family: 'Gaegu', cursive;
    font-size: 80px;
    padding: 10%;
    height: 65vh;
    /* margin: 25%; */
    word-spacing: -5px;;
    line-height: 0.9;
    -webkit-transition: color 2s, font-size 2s;
    -moz-transition: color 2s, font-size 2s;
      -o-transition: color 2s, font-size 2s;
         transition: color 2s, font-size 2s;
}

.createBlog{
    color: white;
    margin: 2%;
    font-family: 'Gaegu', cursive;
    font-size: 80px;
    padding: 10%;
    height: 65vh;
    /* margin: 25%; */
    word-spacing: -5px;;
    line-height: 0.9;
}


.blogTitle:hover{
    font-size: 110px;
    color: black;
}

@keyframes move{
    from {top: 0px;}
    to {top: 90%;}
  }
  
  @keyframes moveSideways{
      from {left: 0px;}
      to {left: 96%;}
    }

 .cloud{    
        height: 50px;
        width: 50px;
        border-radius: 50px;
        position: absolute;
        left: -250px;
        box-shadow: 350px 25px white, 380px 5px white, 410px 25px white, 380px 25px white;
        /* z-index: -9; */
        animation: move 5s infinite;
     }

  .cloud2{     
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    left: -250px;
    box-shadow: 350px 25px blue, 380px 5px blue, 410px 25px white, 380px 25px white;
    /* z-index: -9; */   
  }

  .cloud3{     
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    left: 0%;
    box-shadow: 350px 25px white, 380px 5px white, 410px 25px white, 380px 25px white;
    /* z-index: -9; */
    animation: moveSideways 5s infinite;
  }