body {
    background: skyblue;
  }
  
  .parent {
    position: relative;
    margin-top: 125px;
  }
  
  .icon {
    height: 150px;
    width: 450px;
    color: black;
    position: absolute;
    box-shadow: 450px 0px orange;
    border-radius: 25px 25px 25px 25px;
  }
  .icon::before {
    content: "";
    height: 75px;
    width: 75px;
    color: black;
    position: absolute;
    left: 500px;
    top: 110px;
    border-radius: 150px;
    background: black;
    box-shadow: 0px 0px black, 275px 0px black; 
    animation: wheels 0.2s infinite;
  }
  .icon::after {
    content: "";
    height: 50px;
    width: 450px;
    color: black;
    position: absolute;
    left: 0;
    box-shadow: 450px 0px #f1c579;
    border-radius: 25px 25px 0px 0px;
    animation: wheels 0.2s infinite;
  }
  
  .windows {
    height: 45px;
    width: 35px;
    color: black;
    position: absolute;
    box-shadow: 500px 25px darkgrey, 550px 25px darkgrey, 600px 25px darkgrey, 650px 25px darkgrey, 700px 25px darkgrey, 750px 25px darkgrey, 800px 25px darkgrey;
    border-radius: 10px;
    animation: wheels 0.2s infinite;
  }
  .driver {
    width: 56px;
    height: 45px;
    position: absolute;
    background: lightblue;
    border: 2px solid black;
    border-right: none;
    left: 842px;
    top: 25px;
    border-radius: 10px 0px 0px 10px;
    animation: wheels 0.2s infinite;
  }
  
  .headlight {
    width: 25px;
    height: 25px;
    position: absolute;
    background: yellow;
    left: 875px;
    top: 100px;
    border-radius: 10px 0px 0px 10px;
    animation: wheels 0.2s infinite;
  }
  
  .taillights {
    width: 15px;
    height: 25px;
    position: absolute;
    background: red;
    left: 450px;
    top: 100px;
    border-radius: 0px 10px 10px 0px;
    animation: wheels 0.2s infinite;
  }
  
  .clouds {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    left: -250px;
    box-shadow: 350px 25px white, 380px 5px white, 410px 25px white, 380px 25px white;
    z-index: -9;
    animation: tree 5s infinite linear;
  }
  
  .moreclouds {
    height: 50px;
    width: 50px;
    left: -250px;
    border-radius: 50px;
    position: absolute;
    box-shadow: 450px 35px white, 480px 15px white, 510px 35px white, 480px 35px white;
    z-index: -9;
    animation: tree2 4s infinite linear;
  }
  
  .shadow {
    height: 15px;
    width: 350px;
    position: absolute;
    box-shadow: 500px 150px 50px #555;
    z-index: -9;
    animation: wheels 0.2s infinite;
  }
  
  @keyframes tree2 {
    0% {
      left: 800px;
    },
    100% {
      left: -150px;
    }
  }
  
  @keyframes tree {
    0% {
      left: 900px;
    },
    100% {
      left: -250px;
    }
  }
   
  @keyframes wheels {
    0% {
      transform: translateY(-5%);
    },
    100% {
      transform: translateY(5%);
    }
  }